table {
    width:100%;
}
  
  th
  {
    background-color: black;
    color: white;
    font-size:17px;
    margin: auto;
    
  }

  button
  {
      background-color: black;
      color: white;
      margin-right: 10px;
      
  }
.size{
    
    font-size:35px;
}




  
  .arrow
  {
      background-color:black;
      color: white;
      float: right;
      font-size: 20px;
      
      
  }

  .textarrow
  {
      padding-right: 10px;
      font-size: 15px;
      margin-top: 2px;
        padding: 0 5px;

  }


  .flright
  {
      float: right;
  }