


<table style="width:100%">

        <tr>
          <td><b>Add Supplier</b></td>
          <td><input matInput placeholder="" > <button class="submit" mat-stroked-button><u>Submit</u></button> <button mat-stroked-button>Add new supplier</button></td> 
          
        </tr>
        <br>
        <tr>
          <td><b>Collaboration Setup</b></td>
          <td><input matInput placeholder="" > <button mat-stroked-button>Add Names</button></td> 
          
        </tr>
        <br>
        <tr>
        <td><b>Technical Specification </b></td>
       <td><input matInput placeholder="" >
        <span class="icnn"> <mat-icon id="size">add_box</mat-icon></span></td> 
    </tr>
    <br>
    <tr>
<td></td>

        <td><button mat-stroked-button>Preview</button><button mat-stroked-button>Save As Draft</button><button class="submit" mat-stroked-button><u>Create RFX</u></button>
        </td> 
    </tr>
 
      </table>





